<div class="container-fluid">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
						(click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a> Add Document</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
					<li class="breadcrumb-item">My Documents</li>
					<li class="breadcrumb-item active">Add a Document</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12">
			<div class="card">
				<div class="body">
					<form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm" >
						<div class="form-group">
							<label>Document Title: </label>
							<input required type="text" class="form-control" placeholder="Enter Document Title Here" [(ngModel)]="dtitle" name="dtitle"/>
						</div>
						<div class="form-group">
						<label>Document Subject: </label>
						<select class="form-control show-tick" [(ngModel)]="dsubject" name="dsubject">
							<option>Artificial Intelligence</option>
							<option>Web Frameworks</option>
						</select>
						</div>
						<div class="form-group">
						<label>Document Type: </label>
						<select class="form-control show-tick" [(ngModel)]="dtype" name="dtype">
							<option>Lecture</option>
							<option>Exercise</option>
							<option>Workshop</option>
							<option>Exam</option>
						</select>
						</div>
						<div class="form-group">
						<label>Document Link: </label>
						<input required type="url" class="form-control" placeholder="Enter Document Link Here" [(ngModel)]="dlink" name="dlink"/>
						</div>
						<button type="submit" class="btn btn-block btn-primary m-t-20" [disabled]="!formulaire.valid">Publish</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>