<div class="container-fluid file_manager">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> File Documents</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">File Manager</li>
                    <li class="breadcrumb-item active">File Documents</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <form>
            <label class="filterelement">Course Name: </label>
            <input class="filterelement"type="text" id="coursename">
            <label class="filterelement">Course Subject: </label>
            <select class="filterelement" name="subject" id="coursesubject">
                <option value="All">All</option>
                <option value="Artificial Intelligence">Artificial Intelligence</option>
                <option value="Web Frameworks">Web Frameworks</option>
            </select>
            <label class="filterelement">Course Type: </label>
            <select class="filterelement" name="type" id="coursetype">
                <option value="All">All</option>
                <option value="Lectures">Lectures</option>
                <option value="Exercices">Exercises</option>
                <option value="Workshops">Workshop</option>
                <option value="Exams">Exams</option>
            </select>
            <button class="filterelement btn btn-primary mr-1" type="submit" >Filter</button>
        </form>
    </div>
    <div *ngFor="let file of files" class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                     <           <i class="fa fa-trash"></i>
                       >     </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-info"></i>
                        </div>
                        <div class="file-name">
                            <p class="m-b-5 text-muted">{{file.name}}</p>
                            <small>Size: {{file.size}} <span class="date text-muted">{{file.date}}</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>