    
<div class="container-fluid" *ngIf="!isResizing">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">                        
                <h2>
                    <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Home</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item active">Home</li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-4 col-md-6 col-sm-6">
<!--            TODO: Set values dynamically-->
            <app-detail-tiles
                [title]="'Active Members'"
                [value]="'71'"
                [details]="'19% compared to last week'"
                [chartOptions]="earningOptions"
            ></app-detail-tiles>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <app-detail-tiles
                [title]="'Documents Uploaded'"
                [value]="'78'"
                [details]="'25% compared to last week'"
                [chartOptions]="salesOptions"
            ></app-detail-tiles>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <app-detail-tiles
                [title]="'Projects'"
                [value]="'9'"
                [details]="'19% compared to last week'"
                [chartOptions]="visitsAreaOptions"
            ></app-detail-tiles>
        </div>

    </div>
</div>