<router-outlet></router-outlet>
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                <div class="top">
                    <img src="assets/images/logo-white.png"  alt="Lucid">
                </div>
                <div class="card">
                    <div class="body">
                        <div>
                            <webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                                    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                                    [videoOptions]="videoOptions"
                                    [imageQuality]="1"
                                    (cameraSwitched)="cameraWasSwitched($event)"
                                    (initError)="handleInitError($event)"
                            ></webcam>
                            <br/>
                            <p align="center">
                                <button  class="btn btn-primary mr-1" (click)="triggerSnapshot();">Take A Snapshot</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
